html, body {
    height: 100%;       /* Obezbeđuje da body zauzme celu visinu ekrana */
    margin: 0;          /* Uklanja default marginu */
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

/* header */
/* ------ */

header {
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1F2937;
    color: white;
    display: flex;
    gap: 60px;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.header-jedan {
    font-weight: 700;
    margin-right: auto;
}

a {
    color: white;
    text-decoration: none;
}

/* hero */
/* ---- */

.hero {
    padding-left: 200px;
    padding-right: 200px;
    font-size: 18px;
    box-sizing: border-box;
    background-color: #1F2937;
    color: white;
    padding-bottom: 15px;
    display: flex;
}

.hero button {
    width: 130px;
    height: 35px;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

.left-hero p:nth-child(1) {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
}

.left-hero {
    width: 50%;
}

.right-hero {
    background-color: rgb(131, 128, 128);
    height: 100%;
    width: 50%
}


/* random-information */
/* ------------------ */

.random-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px 200px 15px 200px;
}

#info {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container-unutrasnji {
    width: 180px;
}

.container-unutrasnji p {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 5px;
}

.slika {
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1;
    border: 4px solid #3882F6;
    border-radius: 15px;
    text-align: center;
    align-items: center;
}

/* quote */
/* ----- */

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #E5E7EB;
    
    
}

.quote p {
    margin: 0;
    width: 750px;
    text-align: end;
}

.quote .jedan {
    font-size: 25px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

/* action */
/* ------ */

.action {
    display: flex;
    background-color: #3882F6;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    border-radius: 10px;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left-action {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.action p {
    margin: 0;
}

.ucenje {
    font-size: 22px;
    font-weight: 700;
}

.right-action {
    height: 40px;
    width: 120px;
    color: white;
    background-color: #3882F6;
    border: 3px solid white;
    border-radius: 7px;
    align-self: center;
    font-weight: 700;
    font-size: 16px;
}

/* footer */
/* ------ */

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: white;
    margin-top: auto;
}